In [10]:
import datetime
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import pyplot as plt

## Load rating data

In [9]:
rating_data = pd.read_csv('../data/ratings.dat.txt', sep="::",
                          names=['user_id', 'movie_id', 'rating', 'rating_timestamp'],
                          engine='python')
rating_data

        user_id  movie_id  rating  rating_timestamp
0             1    114508       8        1381006850
1             2    499549       9        1376753198
2             2   1305591       8        1376742507
3             2   1428538       1        1371307089
4             3     75314       1        1595468524
...         ...       ...     ...               ...
915365    71257   9893250      10        1613857551
915366    71257   9898858       3        1585958452
915367    71258    172495      10        1587107015
915368    71258    414387      10        1587107852
915369    71259   1623205       6        1362832655

[915370 rows x 4 columns]

In [15]:
rating_data['rating_timestamp'] = pd.to_datetime(rating_data['rating_timestamp'], unit='s')
rating_data

        user_id  movie_id  rating    rating_timestamp
0             1    114508       8 2013-10-05 21:00:50
1             2    499549       9 2013-08-17 15:26:38
2             2   1305591       8 2013-08-17 12:28:27
3             2   1428538       1 2013-06-15 14:38:09
4             3     75314       1 2020-07-23 01:42:04
...         ...       ...     ...                 ...
915365    71257   9893250      10 2021-02-20 21:45:51
915366    71257   9898858       3 2020-04-04 00:00:52
915367    71258    172495      10 2020-04-17 07:03:35
915368    71258    414387      10 2020-04-17 07:17:32
915369    71259   1623205       6 2013-03-09 12:37:35

[915370 rows x 4 columns]